body {
  position: relative;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 12px;
  line-height: 9.6px;
}
h3 {
  font-size: 8px;
  line-height: 5px;
  color: #808080;
  font-style: italic;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: 'Montserrat';
  min-width: 1120px;
  max-width: 1120px;
}

/* DIV QUE ENGLOBA A TABLE */
.wrapper {
  background-color: #f5f5f5;
  justify-content: center;
  align-self: center;
  height: fit-content;
  width: 1120px;
  display: flex;
  overflow-x: auto;
  padding: 63px 78px 63px 78px;
}

/* DIVISÃO EM COLUNAS */
.wrapper .column {
  display: block;
  margin-left: 4px;
  max-width: fit-content
}

/* LINHAS FULL SIZE | 342x50 px */
.wrapper .rowFull {
  line-height: 9.6px;
  letter-spacing: -2%;
  text-align: center;
  border: 1px solid #e2e2e2;
  background-color: white;
  min-width: 345.99px;
  height: 50px;
  margin-bottom: 8px;
  margin-left: 4px;
  border-radius: 5px;
  transition: 0.3s;
}

.rowFull:hover {
  border-color: #e32328;
  cursor: pointer;
}

/* LINHAS DIVIDIDAS EM MAIS DE UM ITEM */
.wrapper .brokenRow {
  display: flex;
  width: 348px;
  color: black;
  height: fit-content;
  margin-bottom: 1px;
}

/* PRIMEIRA E ÚLTIMA COLUNA */
.wrapper .rowThin {
  line-height: 50px;
  text-align: center;
  background-color: #e2e2e2;
  min-width: 96px;
  height: 50px;
  margin-bottom: 8px;
  margin-left: 4px;
  border-radius: 5px;
  transition: 0.3s;
}

/* CÉLULAS DA LINHA DE HEADS COM 1/3 e 1/2 DA LARGURA FULL */
.wrapper .rowHeadThird {
  text-align: center;
  background-color: white;
  min-width: 111.13px;
  height: 80px;
  margin-left: 4px;
  margin-bottom: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  transition: 0.3s;
}

.wrapper .rowHeadThird .text {
  
  margin: auto;
}

.wrapper .rowHeadThird:hover {
  border-color: #e32328;
  cursor: default;
}

.rowHeadHalf {
  position: relative;
  text-align: center;
  min-width: 172px;
  height: 80px;
  background-color: white;
  border: 1px solid #e2e2e2;
  margin-left: 4px;
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}
.rowHeadHalf .text {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* PRIMEIRA LINHA DA TABLE | TRIBOS */
#title {
  border: 1px solid #e32328;
  color: #e32328;
  background-color: transparent;

  transition: 0.3s;
}
#title h2 {
  font-size: 12px;
  line-height: 10px;
}

#title h3 {
  color: #e32328;
  font-size: 8px;
  line-height: 5px;
}

.wrapper #title:hover {
  cursor: pointer;
  background-color: white;
}

/* PRIMEIRA COLUNA DA TABLE */
.wrapper .space {
  background-color: transparent;
}
.wrapper .space h2 {
  color: black;
}
.wrapper .space:hover {
  background-color: transparent;
  border-color: transparent;
}

.wrapper .column .rowThinFirstColumn {
  border: 1px solid #e32328;
  color: red;
  line-height: 80px;
  text-align: center;
  background-color: transparent;
  min-width: 96px;
  height: 50px;
  margin-bottom: 8px;
  margin-left: 4px;
  border-radius: 5px;
  transition: 0.3s;
}

.rowThinFirstColumn h3 {
  color: #e32328;
}
.wrapper .column .rowThinFirstColumn:hover {
  cursor: pointer;
  background-color: white;
}

/* SQUADS */
.wrapper .squadRow {
  position: relative;
  line-height: 28px;
  text-align: center;
  background-color: #e32328;
  min-width: 111.33px;
  height: 28px;
  margin-left: 4px;
  margin-bottom: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
  font-size: 11px;
  letter-spacing: -100%;
}

.wrapper .squadRow:hover {
  background-color: rgb(255, 71, 71);
  cursor: pointer;
}

/* PRIMEIRA COLUNA DA TABLE */
.wrapper .space {
  background-color: transparent;
  border-color: transparent;
}

.wrapper .space:hover {
  background-color: transparent;
  border-color: transparent;
}

/*ROW DE 1 TERÇO DA LARGURA */
.thirdRow {
  padding:0px;
  min-width: 111.33px;
  height: 50px;
  background-color: white;
  border: 1px solid #e2e2e2;
  margin-left: 6px;
  margin-bottom: 7px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.thirdRow:hover {
  border-color: #e32328;
  cursor: pointer;
}
/* ELEMENTO DE ESPAÇO NA PRIMEIRA COLUNA */
#rowThinSpace {
  min-height: 52px;
  margin-bottom: 8px;
}

/* CÉLULA DE DOIS TERÇOS DE LARGURA */

.twoThirdRow {
  min-width: 226.67px;
  height: 50px;
  background-color: white;
  border: 1px solid #e2e2e2;
  margin-left: 4px;
  margin-bottom: 7px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.twoThirdRow:hover {
  border-color: #e32328;
  cursor: pointer;
}

/* CÉLULA DE METADE DA LARGURA */

.rowHeadHalf {
  min-width: 169ppx;
  height: 80px;
  background-color: white;
  border: 1px solid #e2e2e2;
  margin-left: 4px;
  margin-bottom: 7px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.rowHeadHalf:hover {
  border-color: #e32328;
  cursor: pointer;
}

.lastRows {
  min-width: 100px;
  min-height: 50px;
  margin-bottom: 8px;
  margin-left: 4px;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  text-align: center;
}
.modalContainer.hidden {
  display: none;
}
.modalContainer.show {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vw;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  top: 20%;
  display: flex;
  width: 725px;
  max-height: 544px;
  background-color: aliceblue;
  border-radius: 5px;
}
.modalHeader {
  text-align: start;
  line-height: 0px;
  background-color: red;
  font-size: 10px;
  color: white;
  max-width: 725px;
  min-height: fit-content;
  border-radius: 5px;
}

.modalWrapper {
  margin: auto;
  max-width: 653px;
  max-height: 282px;
  border: 1px solid #e2e2e2;
}


            h1{
                font-size:40px;
            }
            .align-select{
                display: flex;
                align-items: center;
                justify-content: space-between;
               
            }
            
            .modal {
                position: fixed;
                top: 10%;
                right: 60%;
                bottom: 20%;
                left: 30%;
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                background: rgba(255, 254, 254, 0.993);
                z-index: 99999;
                opacity:0;
                -webkit-transition: opacity 400ms ease-in;
                -moz-transition: opacity 400ms ease-in;
                transition: opacity 400ms ease-in;
                pointer-events: none;
            }
            .modal:target {
                opacity: 1;
                pointer-events: auto;
                
            }
            .modal > div {
                width: 400px;
                position: relative;
                margin: 2% auto;
                padding: 5px 20px;
                background: #fff;
            }
            .modal-header{
                width: 91% !important;
                background: #E32328 !important;
                padding: 32px 32px;
               
         

            }
            #fechar{
                position: absolute;
                bottom: 10px;
                right: 5px;
                text-align: center;
                line-height: 30px;
                margin-top: 5px;
                background: #ffffff;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                font-size: 16px;
                color: black;
                font-size: 14px;
                font-weight: 800;
                padding: 5px 30px;

            }
            
            #title-modal{
                font-family: Montserrat;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #ffffff;

            }
            .content-result{
                width: 90% !important;
                margin-top: 10px;
                display: flex;
                
                margin: 10px auto;
                padding: 30px 0px 0px 0px;
                background-color: #ffffff;
                justify-content: space-evenly;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                height: 220px;
                overflow-y: auto;
              
                
            }
            
            #sub-title-modal{
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                color: #ffffff;

            }
            .div-select {    
                width:282px;  /* Tamanho final do select */    
                overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */} 
            .div-select select {      
                /* background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif)  */
                /* no-repeat #E2E2E2;  Imagem de fundo (Seta)       */
                /* background-position: 200px center;  Posição da imagem do background */
                width: 240px; 
                height:48px; 
                font-family:Arial, Helvetica, sans-serif; 
                font-size:14px; 
                padding:13px 20px 13px 12px; 
                color:#8F8F8F; 
                border-radius: 10px; 
                border-color: #E2E2E2;   
                text-indent: 0.01px; 
                text-overflow: "";  }
            .div-select select option{
                font-size: 14px;
                border-color: #E2E2E2;   
            }
            #tribo-result{
                color: #808080;
            }
            
            .button-tribo{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 110px;
                font-size: 14px;
                padding: 12px;
                border-bottom: 1px solid #e6e6e6;
                border-top: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
                border-left: 1px solid #e6e6e6;
                border-radius: 10px;
                border-color: #E2E2E2;
                box-shadow: none;
                outline: none;
                cursor: pointer;
            }
            .button-tribo:focus{
                outline:0;
            }
            @media only screen and (max-width: 1024px) {
              
              .content-result >  div > p{
                font-size: 10px;
             
              }
              .align-select{
                display: block;
                align-items: center;
                justify-content: space-between;
              }
              .div-select {    
                /* width: 80%;  Tamanho final do select     */
                overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */} 
              .div-select select {      
                  /* background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif)  */
                  /* no-repeat #E2E2E2;  Imagem de fundo (Seta)       */
                  /* background-position: 200px center;  Posição da imagem do background */
                  margin-top: 5px;
                  width: 100%; 
                  height:48px; 
                  font-family:Arial, Helvetica, sans-serif; 
                  font-size:14px; 
                  padding:13px 20px 13px 12px; 
                  color:#8F8F8F; 
                  border-radius: 10px; 
                  border-color: #E2E2E2;   
                  text-indent: 0.01px; 
                  text-overflow: "";  
              }
              .div-select select option{
                  
                  font-size: 12px;
                  border-color: #E2E2E2;   
              }
              .button-tribo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                margin-top: 5px;
                font-size: 14px;
                padding: 12px;
                border-bottom: 1px solid #e6e6e6;
                border-top: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
                border-left: 1px solid #e6e6e6;
                border-radius: 10px;
                border-color: #E2E2E2;
                box-shadow: none;
                outline: none;
                cursor: pointer;
                
            }
            .button-tribo>img{
                  padding: 0px 30px 0px 0px;
                  
            }
            .modal {
                position: fixed;
                top: 5%;
                right: 0%;
                bottom: 0%;
                left: 0%;
                width: 26%;
                height: 400px;
                display: block;
                
                font-family: Arial, Helvetica, sans-serif;
                background: rgba(255, 254, 254, 0.993);
                z-index: 99999;
                opacity:0;
                -webkit-transition: opacity 400ms ease-in;
                -moz-transition: opacity 400ms ease-in;
                transition: opacity 400ms ease-in;
                pointer-events: none;
            }
            .modal > div {
                width: 70% !important;
                position: relative;
                margin: 5% auto;
                padding: 5px 30px;
                background: #fff;
            }
            #fechar{
                position: absolute;
                bottom: 10px;
                right: 5px;
                text-align: center;
                line-height: 30px;
                margin-top: 30px;
                background: #ffffff;
                border: 1px solid #E2E2E2;
                border-radius: 10px;
                font-size: 16px;
                color: black;
                font-size: 14px;
                font-weight: 800;
                padding: 5px 30px;

            }
           
           
           
            

            }